<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <base target="_blank" /> 
    <title>Json-Server-Router</title>
</head>

<body>

    <head>
        <h1 class="text-center">Json-Server-Router</h1>
    </head>

    <hr>

    <div class="container">
        ${body}
    </div>

    <footer class="text-center">json-server middleware Deer-Router</footer>
</body>

</html>